image:
  repository: clickhouse/clickhouse-server
  tag: "24.12"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 8123

storage:
  size: 1Gi
  className: "standard"

passwords:
  default: "password"
  analyst: "analyst123"
  readonly: "readonlypass"