apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "clickhouse.fullname" . }}-users-config
data:
  # XML с конфигурацией пользователей ClickHouse без паролей
  users.xml: |
    <clickhouse>
      <users>
        {{- range .Values.users }}
        <{{ .name }}>
          <profile>default</profile>
          <networks>
            <ip>::/0</ip> <!-- Разрешаем подключения отовсюду -->
          </networks>
        </{{ .name }}>
        {{- end }}
      </users>
    </clickhouse>