apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "clickhouse.fullname" . }}-users
data:
  # XML с определением пользователей ClickHouse
  # Генерируется по списку в values.yaml
  users.xml: |
    <clickhouse>
      <users>
        {{- range .Values.users }}
        <{{ .name }}>
          <password>{{ .password }}</password>
          <profile>default</profile>
          <networks>
            <ip>::/0</ip> <!-- Разрешаем подключения отовсюду -->
          </networks>
        </{{ .name }}>
        {{- end }}
      </users>
    </clickhouse>