apiVersion: v1
kind: Secret
metadata:
  name: clickhouse-users
type: Opaque
stringData:
  users.xml: |
    <clickhouse>
      <users>
        <default>
          <password>{{ .Values.passwords.default }}</password>
          <profile>default</profile>
          <networks>
            <ip>::/0</ip>
          </networks>
        </default>

        <analyst>
          <password>{{ .Values.passwords.analyst }}</password>
          <profile>default</profile>
          <networks>
            <ip>::/0</ip>
          </networks>
        </analyst>

        <readonly>
          <password>{{ .Values.passwords.readonly }}</password>
          <profile>readonly</profile>
          <networks>
            <ip>::/0</ip>
          </networks>
        </readonly>
      </users>
    </clickhouse>