apiVersion: v1
kind: Secret
metadata:
  # Храним пользователей ClickHouse в Secret, а не в ConfigMap
  name: {{ include "clickhouse.fullname" . }}-users
type: Opaque
data:
  # XML конфигурация пользователей кодируется в base64
  users.xml: {{ .Values.usersConfig | b64enc }}